* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 12px "Helvetica Neue", Helvetica, sans-serif;
}

.header {
  padding: 20px;
  border-bottom: 1px solid #eee;
  font-family: Dosis;
}

.header h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 600;
}

.header h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

.canvas {
  width: 100vw;
  height: calc(100vh - 57px);
}

/*----------------------------------------------
 * plot
 *---------------------------------------------- */
.title {
  font-size: 10px;
  text-anchor: middle;
  font-weight: 500;
}

.divider {
  stroke: #333;
  stroke-width: 1;
  shape-rendering: crispedges;
}

.reference-line {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 3 1;
  shape-rendering: crispedges;
}

/*----------------------------------------------
 * tract lines
 *---------------------------------------------- */
.rate-line {
  fill: none;
  stroke: #eee;
  stroke-width: 0.5;
  stroke-opacity: 0.5;
}

.fallen-star,
.chronically-poor {
  stroke-width: 1;
  stroke-opacity: 0.7;
}

/*----------------------------------------------
 * axis ticks
 *---------------------------------------------- */
 .domain {
   fill: none;
 }

 .y-rate-label {
  font-size: 9px;
  text-anchor: end;
 }

 .axis text {
   display: none;
   font-size: 9px;
 }

 .axis line {
   stroke: #e1e1e1;
   stroke-width: 0.5;
   shape-rendering: crispedges;
 }

 .x .tick:first-child line,
 .x .tick:nth-child(5) line  {
   display: none;
 }

 .plot-0 .axis text {
   display: block;
 }
